<html>
<body>
	<form action = "/create/" method ="post">
		Datasource Name:<input type= "text" name="name"><br>
		Tag1<input type = "text" name="tag1"><br>
		Tag2  <input type ="text" name="tag2"><br>
		description <input name="des" type = "text"><br>
		<input type="submit" value = "Create">

	</form>
	<br><br><br>
	<form action = "/insert" method ="post">
		Variable Name:<input type= "text" name="name"><br>
		unit <input type="text " name="unit"> <br>
		value1<input type = "text" name="value1"><br>
		value2  <input type ="text" name="value2"><br>
		value3 <input name="value3" type = "text"><br>
		<input type="submit" value= "Insert">
	</form>

	<br><br><br>
	<form action = "/display" method ="post">
		
		<input type="submit" name = "get variables">
	</form>
	